<div class="game-wrapper">
  <div *ngIf="gameFinished" class="notifications-container">
    <p class="game-ended-notification">
      The Game Has Ended!
    </p>

    <button class="new-game-button" (click)="reset()">
      Create New Game
    </button>
  </div>

  <div class="boards-container">
    <iframe #white_board_iframe [src]="iFrameWhiteBoardUrl" height="550" width="550" class="test">
    </iframe>

    <iframe #black_board_iframe [src]="iFrameBlackBoardUrl" height="550" width="550" class="test">
    </iframe>
  </div>
</div>